@import url('https: //fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
}

header {
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
}

.content .textBox h2 span {
    font-size: 1em;
    font-weight: 300;
}

.content .textBox p {
    color: #fff;
    font-size: 15px;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox {
    width: 700px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 650px;
}

.thumb {
    position: absolute;
    left: 500px;
    bottom: -100px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

.thumb li:hover {
    transform: translateY(-30px);
}

.thumb li img {
    max-width: 100px;
}

.sci {
    position: absolute;
    top: 70%;
    right: -80px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    filter: invert(1);
    margin: 5px 0;
    transform: scale(0.6);
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(33, 105, 99);
    clip-path: circle(600px at right 800px);
}